node_modules
.turbo
dist
.env
.env.local
.env*.local
*.log
.DS_Store

# Expo
.expo
apps/mobile/dist
apps/mobile/.expo

# Next.js
apps/web/.next
apps/web/out

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
firebase/service-account.json
firebase/*firebase-adminsdk*.json
**/google-services.json
**/GoogleService-Info.plist
functions/lib

# TypeScript
*.tsbuildinfo

.claude/
